*{
    background-color: #1E1E1E;
    color: white;
    box-sizing: border-box;
}
h1{
    text-align: center;
}

.post-grid{
  display: flex;
  flex-wrap: wrap;
  gap: 4vw;
  place-items: center;
}
img{
    border-radius: 12px;
    object-fit: cover;
}
.card {
    /* Add shadows to create the "card" effect */
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 350px;
    border-radius: 5px;
  }
  
  /* Add some padding inside the card container */
  .content {
    text-align: center;
    padding: 20px;
    max-width: 300px;
    margin:auto;
  }


  a {
    text-decoration: none;
  }